<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>css template</title>
    <!-- MAIN CSS- -->
    <link href="style.css" rel="stylesheet">
    <!-- font  -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- icon  -->

</head>

<body>
    <header class=" header ">
        <div class="social-icon container">
            <ul>
                <li><img src="img/facebook-hover.png"></li>
                <li><img src="img/twitter.png"></li>
                <li><img src="img/google-hover.png"></li>

            </ul>


        </div>
        <nav class="navbar">
            <div class="logo container">
                <a href="index.html">
                    <h4>MAXI<span>BIZ</span></h4>
                </a>
            </div>
            <div class="nav-item">
                <ul>
                    <li><a class="active" href="index.html">HOME</a></li>
                    <li><a href="">PAGES<span class="indicator">+</span></a></li>
                    <li><a href="">SHOP<span class="indicator">+</span></a></li>
                    <li><a href="">PORTFOLIO<span class="indicator">+</span></a></li>
                    <li><a href="">BLOG<span class="indicator">+</span></a></li>
                </ul>
            </div>

        </nav>


        <section class="intro">
            <div class="container">
                <h1>A Template designed for all your business needs.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat</p>
            </div>
        </section>
    </header>
    <section class="">
        <div class="services container">
            <div class="service">
                <img src="img/fa-fa-bars.png">
                <h4>Responsive Layout</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry"s standard dummy text ever since..</p>
            </div>

            <div class="service">
                <img src="img/fa-fa-laptop.jpg">
                <h4>Creative Design</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry"s standard dummy text ever since..</p>
            </div>

            <div class="service">
                <img src="img/fa-fa-book.png">
                <h4>Easy to Setup</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry"s standard dummy text ever since..</p>
            </div>

        </div>
    </section>
    <!-- process section start -->
    <section>
        <div class="process container">
            <div class="img">
                <img src="img/slider_02.png">
            </div>
            <div class="process-details">
                <div class="content">
                    <div class="icon"><img src="img/fa-fa-key-crop.jpg"></div>
                    <div class="title">
                        <h4>Create an Account</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry"s standard dummy text ever since..</p>
                    </div>
                </div>
                <div class="content">
                    <div class="icon"><img src="img/fa-fa-downlo.png"></div>
                    <div class="title">
                        <h4>Upload Your Works</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry"s standard..</p>
                    </div>
                </div>
                <div class="content">
                    <div class="icon"><img src="img/fa-fa-dollar.png"></div>
                    <div class="title">
                        <h4>Earn Money</h4>
                        <p>Lorem Ipsum is simply dummy text of the industry. Lorem Ipsum has been the industry"s
                            standard
                            dummy text ever since..</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- start product <section></section> -->
    <section-p>
        <div class="product ">
            <div class="title">
                <h3>OUR BEST PRODUCTS</h3>
            </div>
            <div class="product-wrapper">
                <div><img src="img/portfolio_01.jpg"></div>
                <div><img src="img/portfolio_02.jpg"></div>
                <div><img src="img/portfolio_03.jpg"></div>
                <div><img src="img/portfolio_04.jpg"></div>
                <div><img src="img/portfolio_05.jpg"></div>
            </div>
            <div class="view-all-btn"><button type="button">VIEW ALL WORKS</button></div>
        </div>
    </section-p>

    <div class="portfolio container">
        <div class="content">
            <h2 class="big-title">Your <span>portfolio</span> should standout!</h2>
            <p class="small-title">Lorem Ipsum is simply dummy text of the printing and typesetting industy has been the
                industry"s standard.</p>
            <div class="button-wrapper">
                <button type="button" class="service">ABOUT OUR SERVICES</button>
                <button type="button" class="contact">CONTACT US TODAY</button>
            </div>
        </div>
    </div>
    <section class="">
        <div class="title">
            <h3>AFFORDABLE PRICES</h3>
        </div>
        <div class="prices container">
            <div class="price">
                <h4>Standard</h4>
                <span>$25</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                <ul class="pricing">
                    <li>150 Mb Storage</li>
                    <li>1 Domain</li>
                    <li>2 Sub Domains</li>
                    <li>3 MySQL DBs</li>
                    <li>2 Emails</li>
                    <li>WordPress Installation</li>
                    <li>24/7 Support</li>
                  </ul>
                  <div class="order-now-btn"><button type="button">Order Now</button></div>
            </div>
            <div class="price">
                <h4>Mega Pack</h4>
                <span>$55</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                <ul class="pricing">
                    <li>150 Mb Storage</li>
                    <li>1 Domain</li>
                    <li>2 Sub Domains</li>
                    <li>3 MySQL DBs</li>
                    <li>2 Emails</li>
                    <li>WordPress Installation</li>
                    <li>24/7 Support</li>
                  </ul>
                  <div class="order-now-btn"><button type="button">Order Now</button></div>

            </div>
            <div class="price">
                <h4>Ultra Pack</h4>
                <span>$98</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                <ul class="pricing">
                    <li>150 Mb Storage</li>
                    <li>1 Domain</li>
                    <li>2 Sub Domains</li>
                    <li>3 MySQL DBs</li>
                    <li>2 Emails</li>
                    <li>WordPress Installation</li>
                    <li>24/7 Support</li>
                  </ul>
                  <div class="order-now-btn"><button type="button">Order Now</button></div>

            </div>
        </div>
    </section>
    <div class="">
        <div class="quote container">
          <div class="message">
              <h3>Grab the attention of your customers!</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s..</p>
          </div>
          <div class="btn"><button type="button">GET A QUOTE</button></div>

        </div>
        
    </div>


    <footer>
        <div class="footer-top container">
            <div class="about">
                <h4 class="title">About us</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s..</p>
                <a><button type="button">Read More</button></a>
            </div>
            <div class="post">
                <h4 class="title">Recent Posts</h4>
                <ul class="recent_posts">
                    <li>
                      <a href="home1.html#">
                                  <img src="img/recent_post_01.png" alt="">Our New Dashboard Is Here</a>
                      <a class="readmore" href="#">read more</a>
                    </li>
                    <li>
                      <a href="home1.html#">
                                  <img src="img/recent_post_02.png" alt="">Design Is In The Air</a>
                      <a class="readmore" href="#">read more</a>
                    </li>
                  </ul>
            </div>
            <div class="contact">
                <h4 class="title">Get In Touch</h4>
                <ul class="contact_details">
                    <li> info@yoursite.com</li>
                    <li> +34 5565 6555</li>
                    <li> Some Fine Address, 887, Madrid, Spain.</li>
                    <li><a href="#"> View large map</a></li>
                  </ul>
            </div>
            <div class="Stream">
                <h4 class="title">Flickr Stream</h4>
                <ul class="flickr">
                    <li><a href="#"><img alt="" src="img/flickr_01.jpg"></a></li>
                    <li><a href="#"><img alt="" src="img/flickr_02.jpg"></a></li>
                    <li><a href="#"><img alt="" src="img/flickr_03.jpg"></a></li>
                    <li><a href="#"><img alt="" src="img/flickr_04.jpg"></a></li>
                    <li><a href="#"><img alt="" src="img/flickr_05.jpg"></a></li>
                    <li><a href="#"><img alt="" src="img/flickr_06.jpg"></a></li>
                    <li><a href="#"><img alt="" src="img/flickr_07.jpg"></a></li>
                    <li><a href="#"><img alt="" src="img/flickr_08.jpg"></a></li>
                  </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="content container">
                <div>
                    <p>Copyright © 2014 - All rights reserved.</p>
                </div>
                <div> 
                    <div class="footer-menu">
                        <ul class="menu">
                          <li><a href="index.html">Home</a></li>
                          <li><a href="about.html">About</a></li>
                          <li><a href="#">Sitemap</a></li>
                          <li><a href="#">Site Terms</a></li>
                          <li><a href="contact">Contact</a></li>
                        </ul>
                      </div>
                </div>
            </div>
        </div>
    </footer>
</body>