.container{
    padding-left: 80px;
    padding-right: 80px;
}
@media (max-width:768px) {
    .container{
        padding-left:4px;
        padding-right: 0;
    }
}
section{
    padding-top: 70px;
    padding-bottom: 70px;
}
.h1,  .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Ruda', sans-serif;
   font-weight: 700;
}
p{
   

    font-family: 'Ruda', sans-serif;
}
/* navbar- */
.header .social-icon{
    background-color:#3498db;

}
@media (max-width:500px) {
    .navbar .nav-item ul {
  display: flex;
   flex-direction: column;
  
   }
}
.header .social-icon ul{
    list-style: none;
    display:flex;
justify-content: end;
padding: 0;
margin: 0;
}
.header .social-icon li{
   padding: 2px;
   margin-top: 4px;
}
.navbar{
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    grid-gap: 15%;
    background-color: white;
    width: 100%;
    margin: 0;
    padding-top: 0;
    position: sticky;
}
.logo h4{
    font-weight: 900;
    color: #2f2f2f;
}
.logo a{
   align-items: center; 
   text-decoration: none;
 
   font-family: 'Ruda', sans-serif;
  
}
.logo span{
    color: #3498db;;
}
.navbar ul{
text-decoration: none;
list-style: none;
justify-content: center;

}
.navbar li{
    display: inline;
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
}
.nav-item a{
   text-decoration: none;
    padding: 18px 20px;
    font-size: 12px;
    color: #777777;
    border-top: 3px solid transparent;
    

}
.nav-item a:hover{
    border-color: #3498db;;
}
.nav-item .active{
    border-color: #3498db;;
}

.nav-item .indicator{
    margin-left: 4px;
}
.header{
    background:url(img/intro-bg.jpg)center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}


.intro{
  
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
}
@media (min-width:992px) {
    .intro{
        width: 67%;
        margin-left: 16%;
    }
}
.intro h1{
font-size: 42px;
}
.intro p{
font-size: 18px;
font-family: 'Ruda', sans-serif;
}
/* header end  */
.services{
   
    text-align: center;
}
@media (min-width:880px) {
    .services{
        display: flex;
    }
}
.service{
    padding: 20px 25px;
}
.services .service img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.services h4{
    display: block;
    width: 100%;
    font-size: 21px;
    letter-spacing: -0.65px;
    font-weight: 500;
    color: #777777;

}
.service p{
   
   
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #696E74;
    margin-top: 10px;
}


/* process start  */
.process{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
  
    background: #c6c6c6;
}
@media (min-width:1003px) {
    .process{
        display: flex;
    }
}
@media (max-width:576px) {
    .process .img{
        width: 400px;
    }
}

.process img{
    width: 100%;
}

.process .process-details img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.process .process-details{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 30px;
}
.process .process-details .content{
  display: flex;
}
.process .process-details .title{
    padding-left: 33px;
}
/* start product  */
.product{
    padding-top: 0px;
}
 .title h3{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #777777;
}
.product .product-wrapper{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 100%;
}
.product .product-wrapper img{
    width: 100%;
}
.product .product-wrapper img:hover{
    cursor:crosshair;
    
}
.product .view-all-btn{
    text-align: center;
    padding: 40px;
}
.product button{
    padding: 10px 15px;
    color: white;
    background:#3498db;;
    border: 2px solid #3498db;
    border-radius: 2px;
}
.product button:hover{
    background: #464646;
    border: 2px solid  #464646;
}
/* start portfolio section  */
.portfolio{
    background: #464646;
    text-align: center;
}
.portfolio .content{
    padding-bottom: 50px;
}
.portfolio h2{
    text-transform: uppercase;
    font-size: 35px;
    color: white;
    padding-top: 50px;
}
.portfolio .big-title span{
    color: #3498db;
}
.portfolio p{
    text-transform: uppercase;
    font-size: 17px;
    color: white;
    font-weight: 500;
}
.portfolio button{
    padding: 10px 15px;
}
.portfolio .service{
    background: #3498db;
    border: 2px solid #3498db;
    color: white;
}
.portfolio .contact{
    background: transparent;
    color: white;
    border: 2px solid white;
}
/* start prices section  */
 .prices{
     
     text-align: center;
     
 }
 @media (min-width:760px){
     .prices{
        display: flex;
     }
 }
 .prices .price{
    background: #FFFFFF;
    border: 1px solid #DCDBD7;
    margin: 30px 0;
    padding: 30px 20px 35px;
    text-align: center
 }
 .prices .price span{
     background:#3498db ;
     color: white;
     padding: 22px 20px;
    font-size: 34px;
    font-weight: 600;
     border-radius: 50%;
 }
 .price h4{
     padding-bottom: 10px;
     color: #696E74;
     font-size: 18px;
 }
 .price p{
     padding-top:20px;
     
    font-weight: 500;
    font-family: 'Ruda', sans-serif !important;
    line-height: 24px;
    color: #696E74;
    font-size: 14px;
}
.price ul{
    list-style: none;
}
.price ul li{
    margin: 0 37px;
    text-align: center;
    color: #696E74;
    padding: 10px;
    border-top: 1px solid #DCDBD7;
}
.price ul li:first-child{
    border-top: 0px;
}
.price button{
    border-color: #2e6da4;
    background-color: #3498db;
    color: white;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 6px;
}
/* quote section start  */
.quote h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    color: #696E74;
   

}
.quote .message{
    padding: 50px 0 30px 0;
}
@media (min-width:708px)  {
    .quote .message{
        position: relative;
    }
}
.quote{
    background: #e4e4e4;
    border-top: 1px solid #E5E4E4;
    border-bottom: 1px solid #E5E4E4;
}
.quote p{
   
    font-weight: 500;
    font-family: 'Ruda', sans-serif !important;
    line-height: 24px;
    color: #696E74;
    font-size: 14px;
}
@media (min-width:708px) {
    .quote{
        display:grid;
        grid-template-columns: 75% 25%;
        align-items:center;
        grid-gap: 15px;
    }
}
.quote button{
    background-color: #3498db;
    color: white;
    font-size: 16px;
    padding: 10px 24px;
    border:2px solid#3498db ;
}
.quote .btn{
    margin-top: 30px;
   
}
@media (min-width:708px) {
    .quote .btn{
        position: absolute;
        right: 90px;
    }
}

/* start footer section  */
 .footer-top{
     background-color:#2B2E31;
     text-align:start;
 }
@media (min-width:976px) {
    .footer-top{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}
.footer-top ul{
    list-style: none;
    padding: 0;
    font-family: 'Ruda', sans-serif;

}
.footer-top img{
    width: 55px;
}
.footer-top .title{
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #696E74;
    padding-bottom: 15px;
}
.footer-top button{
    padding: 5px 15px;
    border-radius: 4px;
    text-transform: lowercase;
    font-weight: 600;
    font-size: 12px;
    color: white;
    background:#3498db ;
    border: 2px solid #3498db;
}
.footer-top p{
    color: #696E74;
    font-size: 14px;
    line-height: 24px;
}
.footer-top .post a{
    color: #696E74;
    text-decoration: none;
    display: flex;
    font-size: 15px;
    
}
.post .readmore{
    color: #3498db !important;
    font-style: italic !important;
}
.post img{
    padding-right: 14px;
}
.contact li{
    color: #696E74;
    font-size: 14px;
    line-height: 24px;
}
.contact a{
    color: #3498db !important;
    font-size: 16px;
    /* line-height: 24px; */
    text-decoration: none;
}
.stream ul{
    display: flex;
    flex-wrap: wrap;
}
.stream li{
    padding: 3px 5px;
}
.footer-bottom{
    background: #3E4246;
    padding: 0;
    font-size: 12px;
    border-top: 1px solid #3E4246;
   
    color: #fff;
}
.footer-bottom .content{
    display: flex;
    justify-content: space-between;
}
.footer-bottom .content .footer-menu ul{
padding: 0;
list-style: none;
display: flex;
}
.footer-menu li{
    color: white;
   padding: 5px; 
}
.footer-menu a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}